<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar id="search" placeholder="search" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <div style="text-align: center;">
    <button ion-button small round outline 
    [outline]="!this.filter.selected" 
    (click)="filterTapped($event,this.filter)" 
    *ngFor="let filter of searchFilters">{{this.filter.name}}</button>       
  </div>

  <ion-list>
    <button ion-item *ngFor="let location of locations" (click)="storeTapped($event, location)">
       {{this.location.name}}
     </button>
  </ion-list>
</ion-content>

